  .btn {
      @apply font-bold py-2 px-4 rounded;
  }

  .btn-blue {
      @apply bg-blue-900 text-white hover:bg-blue-700;
  }

  .btn-red {
      @apply bg-blue-500 text-white hover:bg-blue-700;
  }

  .btn-green {
      @apply bg-blue-500 text-white hover:bg-blue-700;
  }

  .btn-gray {
      @apply bg-blue-500 text-white hover:bg-blue-700;
  }

    .btn-bluedark {
      @apply bg-blue-900 text-white hover:bg-blue-600;
  }

   .btn-gris {
      @apply bg-gray-600 text-white hover:bg-gray-900;
  }

  